SERIAL 0 115200
UI vesamenu.c32
MENU TITLE eDEX-OS live medium
MENU BACKGROUND splash.png

MENU WIDTH 78
MENU MARGIN 4
MENU ROWS 8
MENU VSHIFT 10
MENU TABMSGROW 16
MENU CMDLINEROW 16
MENU HELPMSGROW 18
MENU HELPMSGENDROW 29

# cyan-on-navy eDEX palette
MENU COLOR border       30;44   #40ffffff #a0000000 std
MENU COLOR title        1;36;44 #ff00d4ff #a0000000 std
MENU COLOR sel          7;37;40 #ff0a0e1a #ff00d4ff all
MENU COLOR unsel        37;44   #ff7ab5d0 #a0000000 std
MENU COLOR help         37;40   #c0c8e6ff #a0000000 std
MENU COLOR timeout_msg  37;40   #8000d4ff #00000000 std
MENU COLOR timeout      1;37;40 #ff00d4ff #00000000 std
MENU COLOR msg07        37;40   #90c8e6ff #a0000000 std
MENU COLOR tabmsg       31;40   #3000d4ff #00000000 std

MENU CLEAR
MENU IMMEDIATE
