set default=0
set timeout=5

menuentry "eDEX-OS (x86_64, UEFI)" --class edex {
    set gfxmode=auto
    insmod gfxterm
    insmod png
    terminal_output gfxterm
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-cachyos archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% driver=free quiet splash loglevel=3 rd.udev.log_priority=3
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux-cachyos.img
}

menuentry "eDEX-OS — Copytoram (runs entirely in RAM)" --class edex {
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-cachyos archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% driver=free copytoram quiet splash
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux-cachyos.img
}

menuentry "eDEX-OS — Memtest86+ (x86_64, UEFI)" {
    linux /boot/memtest86+/memtest.efi
}

menuentry "Reboot" {
    reboot
}

menuentry "Power off" {
    halt
}
