# https://www.supergrubdisk.org/wiki/Loopback.cfg
search --no-floppy --set=archiso_img_dev --file "${iso_path}"
probe --set archiso_img_dev_uuid --fs-uuid "${archiso_img_dev}"

set default=edex-os
set timeout=10

menuentry "eDEX-OS live (%ARCH%, loopback)" --class edex-os --class gnu-linux --class os --id 'edex-os' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-cachyos archisobasedir=%INSTALL_DIR% cow_spacesize=50% img_dev=UUID=${archiso_img_dev_uuid} img_loop="${iso_path}" quiet splash systemd.firstboot=off
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-cachyos.img
}
